
.icon-cloud:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */