
html, body
{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    color: white;
    overflow-x: hidden;
}


.header-img
{
    background-position: center center;
    background-size: cover;
    background-image: url("../assets/bg.jpg");
} 

.header-img {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0;
}


.navbar
{
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px;
    opacity: 0.8;
}

.section-css
{
    min-height: 100vh;
    min-width: 18rem;
}


.break
{
    min-height: 45vh;
    background-color: #1c1c1c;

}




hr {
     border-top: 0.1px solid #191921;
     opacity: 0.8;
}




.parallax-window {
    min-height: 100vh;
    background: transparent;
}

@media (max-width: 768px)
{
    #main.navbar-background
    {
        background-color: #000;
        color: #fff;
    }
}

#main.navbar-background
{
    background-color: #000;
    opacity: 0.8;
}