body
{
	width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
	overflow-x: hidden;
	background-image: url("../graph/background-daymode.png");
	transition: 1.5s;
	font-family: 'Varela Round', sans-serif;

}

h1
{
	margin-top: 5vh;
	text-align: center;
	margin-bottom: 2vh;
}

.left-wrapper, .right-wrapper
{
	text-align: center;
	width: 50%;
	height: 60vh;
}

.left-wrapper
{
	border-right: 1px dotted #000;
	height: 100%;
}

.left-content
{
	font-size: 24px;
}

.cash
{
	font-size: 36px;
}

.fa-lemon
{
	color: yellow;
}

.fa-car
{
	color: #ad0f17;
}

.fa-money-bill-alt
{
	color: green;
	font-size: 75px;
	transition: ease-in-out 0.5s;
}

.fa-money-bill-alt:hover
{
	transform: scale(1.1);
}

#header
{
	transition: ease-in-out 1s;
}

.card
{
	transition: ease 0.8s;
}

#mainClicker
{
	background: none;
	font-size: 18px;
}

.card-header
{
	border: none;
	background-color: #302f2f;
	opacity: 0.80;
	color: #fffbf9;
}


#cookieNumber
{
	position: relative;
	transform: translate3d(0, 0, 0);
	transition: transform 0.4s linear;
	opacity: 0;
}

#cookieNumber.animate
{
	transform: translate3d(0, -110px, 0);
	opacity: 1;
}

.tooltip2 {
	position: relative;
	display: inline-block;
	cursor: pointer;
  }

.tooltip2 .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 15px;
	position: relative;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .tooltip2 .tooltiptext::after {
	position: relative;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  .tooltip2:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }