/* RESPONSIVE SECTION */

$small-device-width: 0px;
$large-device-width: 992px;

@mixin small_device {
  @media (min-width: #{$small-device-width}) and (max-width: #{$large-device-width - 1px}) {
    @content;
  }
}

@mixin large_device {
  @media (min-width: #{$large-device-width}) {
    @content;
  }
}


.background-gradient {
  background: linear-gradient(181.35deg, #000000 1.15%, #333333 100.08%, rgba(34, 34, 34, 0.85) 146.92%, rgba(0, 0, 0, 0.53) 156.74%, rgba(0, 0, 0, 0.53) 156.74%);
}

/* NAVBAR SECTION */

.navbar-absolute {
  position: absolute;
  color: #fafafa;
  width: 100%;
  font-weight: 600;
}

.navbar-text-right {
  position: absolute;
  display: flex;
  width: 100%;
}

/* HOME SECTION */

#landing-page-section {
  background: url("../assets/images/landing-background.png");
  background-size: cover;
  background-position: center center;
}

.landing-page-name-title {
    font-size: 16px;
    background: -webkit-radial-gradient(#ffffff, rgb(30, 108, 191));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include small_device() {
        font-size: 32px !important;
    }
    @include large-device {
        font-size: 48px !important;
    }
}

.landing-page-hr {
  background-color: #fff;
}

.landing-page-text {
  font-size: 24px;
  color: #fff;
}

/* INTRODUCTION SECTION */

.introduction-title {
  font-style: normal;
  font-weight: 300;
  color: #2294E0;
  @include small_device() {
    font-size: 24px;
  }
  @include large_device() {
    font-size: 48px;
    line-height: 56px;
  }
}

.introduction-description {
  font-style: normal;
  font-weight: 300;
  color: #777777;
  @include small_device() {
    font-size: 16px;
  }
  @include large_device() {
    font-size: 24px;
    line-height: 32px;
  }
}

/* ICONS SECTION */

.icons-description {
  font-style: normal;
  font-weight: 300;
  color: #777777;
  @include large_device() {
    font-size: 24px;
    line-height: 28px;
  }
}

/* PROJECTS SECTION */

.projects-title {
  font-style: normal;
  font-weight: 300;
  color: #2294E0;
  @include large_device() {
    font-size: 48px;
  }
}

.projects-card {
  background: #242424;
  @include large_device() {
    padding: 10% 5%;
  }
}

.projects-card-icon {
  color: #5A5A5A;
}

.projects-card-title {
  font-style: normal;
  font-weight: normal;
  color: #2294E0;
  @include large_device() {
    font-size: 24px;
    line-height: 28px;
  }
}

.projects-card-description {
  font-style: normal;
  font-weight: 300;
  color: #888888;
  @include large_device() {
    font-size: 18px;
    line-height: 21px;
  }
}

.projects-html5 {
  color: #E07222;
}

.projects-css3 {
  color: #059BFF;
}

.projects-js {
  color: #F1B51B;
}

.projects-bootstrap {
  color: #563D7C;
}

.projects-react {
  color: #61DBFB;
}

.projects-icon {
  font-size: 24px;
}

/* CONTACT SECTION */

.contact-title {
  font-style: normal;
  font-weight: 300;
  color: #2294E0;
  @include large_device() {
    font-size: 48px;
  }
}
