/* Constant elements start */
a {
  color: white !important;
  text-decoration: none;
}
/* Constant elements stop */

/* Media section start */

/* Big devices */

@media (min-width: 769px) {
  html,
  body {
    overflow: hidden;
    background: #32bfe6;
  }
  #content {
    background: #32bfe6;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    font-family: "Exo 2", sans-serif;
  }

  #logo {
    font-size: 5rem;
  }

  #boxes {
    top: 35%;
  }

  .project-box {
    height: 12rem;
    width: 12rem;
    background: #1b87a8;
  }

  .project-logo {
    font-size: 5rem;
  }

  .project-content {
    width: 80vw;
    font-size: 2.5rem;
  }
  #projects {
    margin-left: 5%;
  }

  .about-container {
    margin-left: 3%;
    margin-top: 5%;
  }

  .about-logo {
    font-size: 4rem;
  }

  .about-content {
    font-size: 2rem;
  }

  .about-icon {
    font-size: 2rem;
  }
}
/*Big devies stop */

/* Small devices */

@media (max-width: 768px) {
  html,
  body {
    background: #32bfe6;
    overflow-x: hidden;
  }
  #content {
    background: #32bfe6;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    overflow-x: hidden;
    color: white;
    font-family: "Exo 2", sans-serif;
    text-align: center;
  }

  #logo {
    font-size: 4rem;
  }

  #boxes {
    top: 45%;
  }

  .project-box {
    height: 12rem;
    width: 12rem;
    background: #1b87a8;
  }

  .project-logo {
    font-size: 3rem;
  }

  .project-content {
    width: 80vw;
    font-size: 1rem;
  }

  .about-container {
    margin-left: 3%;
    margin-top: 5%;
  }

  .about-logo {
    font-size: 2rem;
  }

  .about-content {
    font-size: 1.5rem;
  }

  .about-icon {
    font-size: 1.1rem;
  }
}
/* Small devices stop */
/*Very small devices start */

@media (max-width: 330px) {
  #content {
    overflow: hidden;
    overflow-y: hidden;
    background: #32bfe6;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    font-family: "Exo 2", sans-serif;
  }

  #logo {
    font-size: 2.2rem;
  }
}

/* Very small devices stop */
/*Media section stop */

/* HTML boxes - connected with animation */
/* Box one start - used in changes between main site and projects */
.box {
  width: 100vw;
  height: 100vh;
  background: orange;
  position: fixed;
  display: none;
  z-index: 1;
}
/* Box one stop */
/* Box two start - used in changes between main site an about */
.box2 {
  width: 100vw;
  height: 100vh;
  background: #77a832;
  position: fixed;
  display: none;
  z-index: 1;
}
/* Box two stop */
/* HTML Boxes - stop */

/* Line, that separates specific content */
hr {
  width: 30vw;
  color: white;
}
/* Line stop */

/* Navbar position */
.navbar {
  position: absolute;
}
/* Navbar stop */

/* Main section start */
#main {
  position: absolute;
  top: 20%;
  color: white;
}
/* Main stop */

/*Animation start */

/* First animation - used in changes between main content and projects */
.move-box {
  -webkit-animation: move-box 2s;
  animation: move-box 2s;
}

@keyframes move-box {
  0% {
    width: 100vw;
  }
  100% {
    width: 0vw;
    opacity: 50%;
  }
}

/* First animation stop */

/* Second animation - used in changes between main content and about */

.move-about {
  -webkit-animation: move-about 2s;
  animation: move-about 2s;
}

@keyframes move-about {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
    opacity: 50%;
  }
}

/* Second animation stop */

/* Animation stop */

/* Project section start */
#projects {
  display: none;
}

#tab-1,
#tab-2,
#tab-3,
#tab-4 {
  display: none;
  width: 100vw;
}

.icon-box {
  margin-top: 35%;
  font-size: 24px;
}

.project-icon {
  font-size: 3rem;
  color: #495057;
}

.project-link {
  text-align: center;
  font-size: 3rem;
}

/* Project and About icons */
.html {
  color: #d97511;
}

.bootstrap {
  color: #a3189c;
}

.js {
  color: #dde815;
}

.css {
  color: #1589e8;
}

/* Icons stop */

/*Project stop */

/* About section start */
#about {
  display: none;
  background: #32bfe6;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  overflow: hidden;
  color: white;
  font-family: "Exo 2", sans-serif;
}
/* About section stop */
