html
{
    overflow-y: hidden;
    overflow-x: hidden;
}


body {
    font-family: 'Montserrat', sans-serif;
}

#center
{
    width: 100vw;
    height: 100vh;
}

.para-huge
{
    font-size: 110px;
    letter-spacing: 10px;
    color: #dedede;
}

.para-first
{
    font-size: 22px;
    color: #666666;
}

.para-second
{
    font-size: 16px;
    color: #666666;
}

.para-third
{
    font-size: 6px;
}


.para-text
{
    font-size: 12px;
    color: #636363;
}
