html, body
{
    font-family: 'Montserrat', sans-serif;
    padding-top: 25x;
    width: 100%;
    height: 100%;
    color: white;
}

.navbar
{
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px;
    opacity: 0.8;
}

.section-css
    {
        min-height: 100vh;
        min-width: 18rem;
    }

.header-img
{
    background-position: center center;
    background-size: cover;
    background-image: url("../img/bg.jpg");
    opacity: 0.85;
} 

.header-img {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0;
}

.onas
{
    min-height: 40vh;
    padding-top: 10px;
    background-color: #383838;
}

@media (max-width: 768px)
{
    .mobile
    {
        min-height: 40vh;
        padding-top: 10px;
    }
    .mobile-full
    {
        min-height: 100vh;
        padding-top: 10px;
    }
    #main.navbar-background
    {
        background-color: #000;
        color: #fff;
    }
    .fa-bars
    {
        color: white;
    }
}


@media (min-width: 768px)
{
    #main.navbar-background
    {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #000;
        color: #fff;
    }

}


.aboutus
{
    margin-top: 50px;
}

.about-text
{
    text-align: center;
    font-size: 17px;
}

.zamow-img
{
    background-position: center center;
    background-size: cover;
    background-image: url("../img/bg2.jpg");
    opacity: 0.8;
    filter: sepia(60%);
} 

.order
{
    color: #fff;

}

.fa-truck
{
    font-size: 80px;
}

.menu
{
    background-position: center center;
    background-size: cover;
    background-image: url("../img/bg3.jpg");
    opacity: 0.8;
    background-color: #000;
}

.menu-header
{
    padding-top: 100px;
}

hr
{
    opacity: 0.6;
    border-top: 1px solid #a59a9a;
    margin: 0;
    margin-left: 5%;
    width: 90%;
}

.opacity
{
    background-color: #141414;
    opacity: 0.9;
}